@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
html {
    position: relative;
    overflow-x: hidden !important;
  }


.ant-row.ant-row-center.space-col.css-dev-only-do-not-override-6foo54 {
    margin-top: 4rem;
}
p.about-des {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
h2.page-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 74px;
    line-height: 0px;
    text-align: center;
    color: #373737;
}
p.about-description {
    font-family: 'Red Hat Display', sans-serif;
    /* line-height: 0px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #291C61;
}
p.card-des {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #2A2A2B;
}

.card-about{

    width: 282px!important;
    height: 290px!important;
    }
    h2.m-v-head {
        font-weight: 700;
        font-size: 32px;
        line-height: 52px;
        color: #291C61;
    }


@media only screen and (max-width: 767px) {

   .card-about{

    margin-top:4rem;
    }
    .card-section {
        padding: 5px 0px 0px 0px!important;
        margin-top: 0px!important;
    }
    .accordian-head {
      font-style: normal;
      font-weight: 700!important;
      font-size: 29px!important;
      line-height: 28px!important;
      color: #291C61!important;
  }
  .tab {
    width: 103%!important;
    color: white;
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 11px;
    margin: auto;
    margin-top: 14px;
}
.card-m{
  width: 359px!important;
  height: 527px!important;
  margin-bottom: 2rem;

}
.tab-label {
  display: flex;
  justify-content: flex-start!important;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  text-align: left!important;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-size: 16px!important;
  font-weight: 600;
  cursor: pointer;
}
   
}
@media (max-width: 1280px) { 

  .card-about {
    height: 290px!important;
    width: 252px!important;
}
.card-m{
  width: 467px!important;
  height: 527px!important;
  margin-bottom: 2rem;

}

.accordian-head {
  font-style: normal;
  font-weight: 700;
  font-size: 44px!important;
  line-height: 22px;
  color: #291C61;
}
.card-m {
  width: 467px!important;
  height: 527px!important;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

}

@media (max-width: 1156px){
.card-about {
    height: 315px!important;
    width: 223px!important;
    margin-left: 1rem;
}

.card-about {
  height: 285px!important;
  width: 242px!important;
  margin-left: 1rem;
  margin-right: 0rem;
}

.accordian-head {
  font-style: normal;
  font-weight: 700;
  font-size: 40px!important;
  line-height: 22px;
  color: #291C61;
}
}
@media (max-width: 750px )and 
(min-width:350px){
  .card-about{

    margin-top:4rem;
    }
    .card-section {
        padding: 5px 0px 0px 0px!important;
        margin-top: 0px!important;
    }
    .accordian-head {
      font-style: normal;
      font-weight: 700!important;
      font-size: 29px!important;
      line-height: 28px!important;
      color: #291C61!important;
  }
  .tab {
    width: 103%!important;
    color: white;
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 11px;
    margin: auto;
    margin-top: 14px;
}
.card-m{
  width: 359px!important;
  height: 527px!important;
  margin-bottom: 2rem;

}
.tab-label {
  display: flex;
  justify-content: flex-start!important;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  text-align: left!important;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-size: 16px!important;
  font-weight: 600;
  cursor: pointer;
}

}

/* new css */

 
.tabs {
   
    overflow: revert;

}

.row.accordian {
  padding-top: 78px;
  padding-bottom: 58px;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {


  
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: black;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;

}
.tab-label:hover {
  background: #ffffff;
}
.tab-label::after {

  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;

}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #d1d7dd;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

img.accordian-img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}


.tab-label {
  display: flex;
  justify-content: flex-start!important;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}
.tab {
  width: 84%;
  color: white;
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 11px;
  margin: auto;
  margin-top: 14px;
}


.tab {
  width: 88%;
  color: white;
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 11px;
  margin: auto;
  margin-top: 14px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


.checkboxes{
  display: none;
}

.row.accordian {
  padding-top: 78px;
}
p.mission-para {
  font-family: 'Red Hat Display', sans-serif;
  /* font-family: 'Red Hat Display'; */
  font-size: 18px;
  line-height: 23px;
}
.accordian-head {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 22px;
  color: #291C61;
}
.accordian-bottom {
  font-weight: 400;
  font-size: 28px;
  line-height: 22px;
  color: #291C61;
}
.tab-content {
  font-size: 16px;
}